@section Breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
}

@model IEnumerable<AllUsersViewModel>


<div class="row" style="height:300px;">

    @foreach (var item in Model)
    {
        var s = item.UserName + ".jpg";
        if (item.Active)
        {
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" >
            <div class="product-thumbnail">
                <div class="product-img-head">
                    <div class="product-img">
                        <img style="height:250px;" src="~/images/@s" alt="@item.UserName" class="img-fluid">
                    </div>
                </div>
                <div class="product-content">
                    <div class="product-content-head">
                        <h1 class="product-title">Nombre de Usuario: @item.UserName</h1>
                        <div class="product-description"><h3>Nombre Completo: @item.FullName @item.First @item.Last</h3></div>
                        <div class="product-details">
                            <h4>Edad: @item.Age</h4>
                            <h4>Teléfono: @item.Phone</h4>
                            <h4>Email: @item.Email</h4>
                            <h4>Área: @item.Area</h4>
                            <h4>Cargo: @item.Position</h4>
                            <a class="btn btn-outline-primary" asp-action="ViewUser" asp-controller="Users" asp-route-id="@item.UserName"><i class="fa fa-search">Ver</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>