@model IEnumerable<AllUsersViewModel>

@{ ViewBag.Title = "Todos los usuarios"; }

<a class="btn btn-primary mb-3" asp-controller="Account" asp-action="Register">
    Añadir nuevo usuario
</a>

@if (Model.Any())
{
    foreach(var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h5>Nombre completo: @user.FullName</h5>
            </div>
            <div class="card-body">
                <h5>Nombre de usuario: @user.UserName</h5>
                <h5>Email: @user.Email</h5>
                <h5>Área: @user.Area</h5>
                <h5>Cargo: @user.Position</h5>
            </div>
            <div class="card-footer"> 
                <form method="post" asp-action="DeleteUser" asp-controller="Administration"
                      asp-route-id="@user.Id">
                    <a asp-action="EditUser" asp-controller="Administration"
                       asp-route-id="@user.Id" class="btn btn-primary">Modificar</a>
                    
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>¿Estás seguro de que deseas eliminar este usuario?</span>
                        <button type="submit" class="btn btn-danger">Si</button>
                        <a class="btn btn-primary" onclick="ConfirmDelete('@user.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a class="btn btn-danger" onclick="ConfirmDelete('@user.Id', true)">Eliminar</a>
                    </span>
                </form>
                
            </div>
            
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No hay usuarios aún
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}