@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Todos los roles";
}

<h1>Todos los roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Administration">Añadir un nuevo rol</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteRole" asp-controller="Administration"
                      asp-route-id="@role.Id">
                    <a asp-action="EditRole" asp-controller="Administration"
                       asp-route-id="@role.Id" class="btn btn-primary">Modificar</a>

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>¿Estás seguro de que deseas eliminar este rol?</span>
                        <button type="submit" class="btn btn-danger">Si</button>
                        <a class="btn btn-primary" onclick="ConfirmDelete('@role.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a class="btn btn-danger" onclick="ConfirmDelete('@role.Id', true)">Eliminar</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No hay roles creados
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Usa el botón para crear un nuevo rol
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Administration" asp-action="CreateRole">
                Crear rol
            </a>
        </div>
    </div>
}


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}