@section Breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">Inicio</li>
}

@{
    ViewData["Title"] = "Página Principal";
}

@model IndexViewModel
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Museo Nacional de Historia Natural de Cuba </h2>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->


        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card border-3 border-top border-top-primary">
                    <div class="card-body">
                        <h5 class="text-muted">Ganancias</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">$@Model.Earnings</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end sales  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- new customer  -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card border-3 border-top border-top-primary">
                    <div class="card-body">
                        <h5 class="text-muted">Visitantes</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.Visitors</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end new customer  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- visitor  -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card border-3 border-top border-top-primary">
                    <div class="card-body">
                        <h5 class="text-muted">Incidencias</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.Incidences</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end visitor  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total orders  -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card border-3 border-top border-top-primary">
                    <div class="card-body">
                        <h5 class="text-muted">Actividades</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.Activities</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total orders  -->
            <!-- ============================================================== -->
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Top Trabajadores con más Actividades</h5>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">#</th>
                                        <th class="border-0">Foto</th>
                                        <th class="border-0">Nombre</th>
                                        <th class="border-0">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 1; i <= Model.WorkersActivities.Count; i++)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                <div class="m-r-10"><img src="~/images/@Model.WorkersActivities[i-1].Item2.Photo" alt="user" class="rounded" width="45"></div>
                                            </td>
                                            <td>@Model.WorkersActivities[i - 1].Item2.FullName @Model.WorkersActivities[i - 1].Item2.First @Model.WorkersActivities[i - 1].Item2.Last </td>
                                            <td>@Model.WorkersActivities[i - 1].Item1</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="9"><a asp-action="WorkersActivities" asp-controller="Reports" class="btn btn-outline-light float-right">Ver más</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="card-body">
                    <div class="card">
                        <h5 class="card-header">Porciento de Visitantes</h5>
                        <div class="card-body">
                            <div id="morris_donut"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Noticias Recientes</h5>
                    <div class="card-body p-0">
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.News)
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="social-sales-icon-circle facebook-bgcolor mr-2"><i class="fas fa-newspaper">
                                           </i></span><span class="social-sales-name">Título: @item.Title <br /> Descripción: @item.Description</span><br />
                                    <span class="social-sales-count text-dark">Autor: @item.Author</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="All" asp-controller="News" class="btn-primary-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Documentos Recientes</h5>
                    <div class="card-body p-0">
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.Documents)
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="social-sales-icon-circle facebook-bgcolor mr-2"><i class="fas fa-file"></i>
                                        </span><span class="social-sales-name">Título: @item.Name <br /> Descripción: @item.Description</span><br />
                                    <span class="social-sales-count text-dark">Autor: @item.Author</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="All" asp-controller="Document" class="btn-primary-link">Ver más</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



@section Scripts{

    <script>
    var datapoints = [];
    datapoints.push({ value: @Model.VisitorsPer.AdultExtPer , label: 'Adultos Extranjeros' });
    datapoints.push({ value: @Model.VisitorsPer.AdultNacPer , label: 'Adultos Nacionales' });
    datapoints.push({ value: @Model.VisitorsPer.ChildAloPer , label: 'Niños Solos' });
    datapoints.push({ value: @Model.VisitorsPer.ChildComPer , label: 'Niños Acompañados' });
    datapoints.push({ value: @Model.VisitorsPer.ChildExtPer , label: 'Niños Extranjeros' });
    datapoints.push({ value: @Model.VisitorsPer.ResidentPer , label: 'Residentes' });

    new Morris.Donut({
        element: 'morris_donut',
        data: datapoints ,
        labelColor: '#2e2f39',
            gridTextSize: '14px',
        colors: [
            "#5969ff",
            "#ff407b",
            "#25d5f2",
            "#ffc750",
            "#c600ab",
            "#3bb671"

        ],
        formatter: function(x) { return x + "%" },
            resize: true
        });
    </script>

}
